@base: #222;

body{
  background-color: @base;
}

.float{
  float: left;
  height: 100px;
  width: 100px;
  border: 1px solid white;
}

#black, #stats{
  height: 100px;
  width: 100px;
  border: 1px solid white;
}