@base: #222;
@import url(http://fonts.googleapis.com/css?family=Rye);

html
{

background: #000000 url("../images/gameboard_bg.jpg") no-repeat right top scroll;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#granny{
  background-image: url('../images/granny01.png');
  width: 200px;
  height:200px;
  background-repeat: no-repeat;
}

body{
  background-color: @base;
}

.float{
  float: left;
  height: 100px;
  width: 100px;
  border: 1px solid white;
}

#black, #stats{
  height: 100px;
  width: 100px;
  border: 1px solid white;
}

#main-title
{
  font-family: 'Rye', cursive;
  color: white;
}