extends ../template/layout

block content
  .row#form
    .small-2.columns
      input#name(type= 'text', name= 'name', placeholder='game', autofocus)
    .small-2.columns
      input#player(type= 'text', name= 'player', placeholder= 'player')
    .small-2.columns
      button#start.small.expand Start
    .small-6.columns
  .row
    .small-12.columns
      #game
        .row
          .small-3.columns
            #black
          .small-6.columns
            #submissions
              for each player in game.players
                .submission.float
          .small-3.columns
            table#stats
              thead
                tr: th Chomama's stats
              tbody
                for each player in game.players
                  tr
                    td player.name
                    td player.score
        .row
          .small-12.columns
            #whites
